.weatherHeader {
    background: linear-gradient(0deg,#d8eeee,#d8eeee 25%,#64b3c9 65%,#005986 90%,#005986);
    box-sizing: border-box;
    /* width: 1500px; */
    height: 1000px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    /* align-items: flex-start; */
    /* flex-direction: column; */
}

/* * {
    background: linear-gradient(0deg,#d8eeee,#d8eeee 25%,#64b3c9 65%,#005986 90%,#005986);
    box-sizing: border-box;
    height: 500px;
} */


.searchBox {
    background: linear-gradient(0deg ,#005986 90%,#005986);
    border-radius: 10px;
    width: 300px;
    height: 50px;
    flex: 0 0 auto;
    /* font-weight: bold; */
    font-size: xx-large;
    text-align: center;
    color: white;
    border-style: solid;
    border-color: black;
    /* border: 2px solid linear-gradient(0deg ,#005986 90%,#005986); */
}


.getWeatherButton {
    border-radius: 10px;
    width: 50px;
    height: 50px;
    flex: 0 0 auto;
    border-style: solid;
    border-color: black;
    /* border: 2px solid linear-gradient(0deg ,#005986 90%,#005986); */
    background: linear-gradient(0deg ,#005986 90%,#005986);
}

.headerInfo {
    /* padding: 50px; */
    display: flex;
    gap: 30px;
    align-items: baseline;
    justify-content: center;
}


.weatherInfo {
    padding: 20px;
    /* width: 300px; */
    height: 700px;
    width: 300px;
    display: flex;
    flex: 0 1 auto;
    background: linear-gradient(0deg,#64b3c9 65%,#005986 90%,#005986);
    /* border-width: 10px;
    border-color: black; */
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    flex-direction: column;
    align-items: center;
    /* align-items: center;
    justify-content: ; */
    gap: 5px;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

.cityCaption {
    font-size: xx-large;
    display: flex;
    flex: 0 0 auto;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.weatherContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}


.headerContainer {
    display: flex;
    justify-content: center;
    /* padding: 25px; */
}


/* Background on Weather Component Based on Time of Day */
.dawnTime {
    background: darkorange;
}

.midMorningTime {
    background: skyblue;
}

.midAfternoonTime {
    background: lightblue;
}

.earlyEveningTime {
    background: #294966;
}

.midEveningTime {
    background: #1C2951;
} 

.midnightTime {
    background: #222021;
}


